/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 3;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 20%;
}

/* The sidebar menu */
.sidebar_window,
.sidebar {
    height: 80%;
    /* Full-height: remove this if you want "auto" height */
    width: 30%;
    /* Set the width of the sidebar */
    position: fixed;
    /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    right: 0;
    background-color: grey;
    /* Black */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 0px;
    overflow-y: hidden;
    margin: 20px;
}

.sidebar_window input {
    position: absolute;
    bottom: 0px;
    width: 100%;
    z-index: 2;
}

.chatWindow {
    height: 97%;
    overflow-y: auto;
}

.chatWindow p {
    margin: 0px;
    padding-left: 2px;
    word-wrap: break-word;
}


.chat_msg_0 {
    background: #a1a1a1;
}

.chat_msg_1 {
    background: #7d7d7d;
}
.word_panel
{
    background: grey;
    text-align: center;
    width: 40%;
    padding: 40px;
    left: 200px;
    font-size: 200%;
}
.body {
    z-index: 0;
}

.canvas {
    cursor: crosshair;
}

.brush {
    background: url('../brush.png');
    background-size: 40px;
    background-repeat: no-repeat;
    height: 45px;
    width: 45px;
    position: absolute;
    left: 310px;
}

.fill {
    background: url('../paintcan.png');
    background-size: 40px;
    background-repeat: no-repeat;
    height: 45px;
    width: 45px;
    position: absolute;
    left: 360px;
}

.clear {
    background: url('../trashcan.jpg');
    background-size: 40px;
    background-repeat: no-repeat;
    height: 45px;
    width: 45px;
    position: absolute;
    left: 410px;
}

.parent {
    position: relative;
}

#slider {
    position: absolute;
    top: 20px;
    left: 40px;
}

#preview {
    position: absolute;
    top: 50px;
}

.colorbox {
    position: relative;
    border-style: solid;
    top: 50px;
    left: 240px;
    width: 210px;
}

.innercolor {
    position: static;
    border-style: inset;
    width: 30px;
    height: 30px;
    padding: 0px;
}