<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Changelog</title>
</head>
<body>
    <a href="/">&LeftArrow; back</a>
    <h2>Changelog</h2>
    <ul><li>Working on flood fill feature</li>
    <li>automatically saves users drawings each round and can be viewed through the bottom panel</li>
    <li>revamped server code, now supports multiple concurrent connections!</li></ul>
</body>
</html>